@import url(http://fonts.googleapis.com/css?family=Gabriela);

body {
  font-family: "Vidaloka", serif;
  font-smoothing: antialiased;
  font-weight: normal;
  background: #151618;
  color: #FFF;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  font-size: 16px;
}

p {
  line-height: 1.6em;
  text-align: center;
  font-size: 14px;
}

p + p {
  margin-top: 1.0em;
}

a {
  transition: color 0.2s ease-out;
  text-decoration: none;
  color: #FBB;
}

a:hover {
  color: #444;
}

.overlay {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.logo {
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.wrapper {
  transition: opacity 0.4s ease-out;
  margin: -270px -180px;
  text-align: center;
  position: absolute;
  height: 540px;
  width: 360px;
  left: 50%;
  top: 50%;
}

.header {
  margin-bottom: 80px;
}

.information {
  margin-bottom: 60px;
}

.footer {
  font-family: Baskerville, sans-serif;
  font-size: 30px;
}

.footer a {
  text-transform: uppercase;
  font-size: 11px;
}

.footer .handle {
  font-style: italic;
}

.controls {
  font-smoothing: subpixel-antialiased;
  position: absolute;
  right: 0;
  top: 0;
}

.vignette {
  background-image: radial-gradient(50% 50%, ellipse, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%);
}

.noise {
  background-image: url(../graphics/noise.png);
  opacity: 0.075;
}

.hide {
  opacity: 0;
}
